
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Login</title>      
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">              
    </head>
    <body>
        <div class="container">
            <h2>Autenticación</h2>
            {% load crispy_forms_tags %}
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Login" class="btn btn-success float-right"> 
                <a href="{% url 'social:begin' 'facebook' %}">Iniciar sesion con Facebook</a>
            </form>
        </div>
    </body>
</html>